<!DOCTYPE html>
<head>
    <meta charset="URF-8">
    <tritle>HR APP</tritle>
    <link rel ="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel ="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css">
</head>
<body>
<div ng-app="hrApp">
    <div ng-controller="MathController">
        <p>Number A:<input type="number" ng-model="nra"></p>
        <p>Number B:<input type="number" ng-model="nra"></p>
        <p><a class="btn btn-primary btn-lg" role="button" ng-click="oper()">Math</a></p>
        <span>Add:{{addition}}</span>

    </div>
</div>

</body>
</html>